@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 14px;
}

@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter";
  background-color: #f5f8fa;
}

div,
span {
  color: #404040;
}
